{
    "semi": false,
    "trailingComma": "all",
    "singleQuote": false,
    "printWidth": 80,
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "*.yaml",
                "*.yml",
                "*.md"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
